<!--<div *ngIf="preload" class="w-100 text-center">-->
<!--  <img src="./assets//gifs//loading.gif" alt="">-->
<!--</div>-->

<div class="div-back-to-liquidation" (click)="goToLiquidations()">
  <img class="ms-3" src="./assets/icons/arrow_left_yellow_24dp.svg" alt="">
  <h6 class="color-blue py-3 mb-0">
    Volver a mis liquidaciones
  </h6>
</div>

<div class="container mt-3 mb-5">

  <div *ngIf="showError" class="text-center">
    <div class="color-red m-auto">
      <h6>
        No fué posible cargar los datos, por for intente nuevamente.
      </h6>

      <button (click)="getLiquidations()" mat-raised-button class="col-4 btn-blue" style="width: 250px !important;">
        <h5 class="m-0">
          Reintentar
        </h5>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="col-12" style="background-color:#ffbf3b; color: aliceblue; text-align: center;">Liquidación de menor valor</div>
      <div class="col-12" style="background-color:#00303c; color: aliceblue; text-align: center;">Liquidación de mayor valor</div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-6 col-sm-9 col-12">
      <mat-form-field style="width: 100%;">
        <mat-label>Filtrar</mat-label>
        <mat-select [formControl]="filterFormControl"  panelClass="toppings-panel" multiple>
          <mat-option (click)="clickFilterButtons(0)"  [value]="0">Fecha</mat-option>
          <mat-option (click)="clickFilterButtons(1)"  [value]="1">Valor fob</mat-option>
          <mat-option (click)="clickFilterButtons(2)"  [value]="2">Origen</mat-option>
          <mat-option (click)="clickFilterButtons(3)"  [value]="3">Destino</mat-option>
          <mat-option (click)="clickFilterButtons(4)"  [value]="4">Producto</mat-option>
          <mat-option (click)="clickFilterButtons(5)"  [value]="5">Partida arancelaria</mat-option>
          <mat-option (click)="clickFilterButtons(6)"  [value]="6">Contenedor</mat-option>
          <mat-option (click)="clickFilterButtons(7)"  [value]="7">Divisa</mat-option>
          <mat-option (click)="clickFilterButtons(8)"  [value]="8">Incoterm</mat-option>
          <mat-option (click)="clickFilterButtons(9)"  [value]="9">Flete internacional</mat-option>
          <mat-option (click)="clickFilterButtons(10)"  [value]="10">Seguro internacional</mat-option>
          <mat-option (click)="clickFilterButtons(11)"  [value]="11">Aduana y portuarios</mat-option>
          <mat-option (click)="clickFilterButtons(12)"  [value]="12">Arancel</mat-option>
          <mat-option (click)="clickFilterButtons(13)"  [value]="13">Flete local</mat-option>
          <mat-option (click)="clickFilterButtons(14)"  [value]="14">Iva</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- <div class="row">
    <div (click)="clickFilterButtons(0)" class="col-lg-2 col-sm-4 col-6">
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(0)}">
        Fecha
      </div>
    </div>
    <div (click)="clickFilterButtons(1)" class="col-lg-2 col-sm-4 col-6">
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(1)}">
        Valor fob
      </div>
    </div>
    <div (click)="clickFilterButtons(2)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(2)}">
        Origen
      </div>
    </div>
    <div (click)="clickFilterButtons(3)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(3)}">
        Destino
      </div>
    </div>
    <div (click)="clickFilterButtons(4)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(4)}">
        Producto
      </div>
    </div>
    <div (click)="clickFilterButtons(5)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(5)}">
        Partida arancelaria
      </div>
    </div>
    <div (click)="clickFilterButtons(6)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(6)}">
        Contenedor 
      </div>
    </div>
    <div (click)="clickFilterButtons(7)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(7)}">
        Divisa
      </div>
    </div>
    <div (click)="clickFilterButtons(8)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(8)}">
        Incoterm
      </div>
    </div>
    <div (click)="clickFilterButtons(9)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(9)}">
        Flete internacional
      </div>
    </div>
    <div (click)="clickFilterButtons(10)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(10)}">
        Seguro internacional
      </div>
    </div>
    <div (click)="clickFilterButtons(11)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(11)}">
        Aduana y portuarios
      </div>
    </div>
    <div (click)="clickFilterButtons(12)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(12)}">
        Arancel
      </div>
    </div>
    <div (click)="clickFilterButtons(13)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(13)}">
        Flete local
      </div>
    </div>
    <div (click)="clickFilterButtons(14)" class="col-lg-2 col-sm-4 col-6" >
      <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(14)}">
        Iva
      </div>
    </div>
  </div> -->
  <mat-spinner *ngIf="preload" diameter="50" style="margin: auto"></mat-spinner>

  <div *ngIf="!preload" class="div-info container px-0">
    <table>
      <tr>
        <th class="row m-0 th-white">
        </th>
        <td *ngFor="let liquidation of liquidations; let i = index;" [ngClass]="calculateTotalValue(liquidation)==min_total? 'th-head-yellow' : 'th-head-blue'" [attr.data-index]="i">
          <span>Liquidación {{i+1}}</span>
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(0)">
        <th class="row m-0 th-yellow">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/event_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/event_black_24dp.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Fecha
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-yellow">
          {{liquidation.create_at | date:'longDate'}}
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(1)">
        <th class="row m-0 th-blue">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/save-money.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/save-money.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Valor FOB
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-blue">
          {{(liquidation?.fob_cost | currency:' ':'symbol':'1.0')}} USD
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(2)">
        <th class="row m-0 th-yellow">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/pin_drop_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/pin_drop_black_24dp.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Origen
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-yellow">
          {{liquidation?.port_origin?.location?.name | titlecase}} ({{liquidation?.port_origin?.name | titlecase}})
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(3)">
        <th class="row m-0 th-blue">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/pin_drop_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/pin_drop_black_24dp.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Destino
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-blue">
          {{liquidation?.port_destination?.location?.name | titlecase}} ({{liquidation?.port_destination?.name | titlecase}})
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(4)">
        <th class="row m-0 th-yellow">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons-menu/caja_24dp_white.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/caja_24dp_white.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Producto
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-yellow">
          {{liquidation.product?.name}}
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(5)">
        <th class="row m-0 th-blue">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/import/menu/clipboard.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/clipboard.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Partida arancelaria
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-blue">
          {{liquidation.product?.code}}
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(6)">
        <th class="row m-0 th-yellow">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/worldwide-shipping-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/worldwide-shipping-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Contenedor
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-yellow">
          {{liquidation.container_type?.name}}
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(7)">
        <th class="row m-0 th-blue">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Divisa
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-blue">
          {{liquidation.currency?.acronym}}
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(8)">
        <th class="row m-0 th-yellow">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/internet-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/internet-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Incoterm
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-yellow">
          {{liquidation.incoterm}}
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(9)">
        <th class="row m-0 th-blue">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Flete Internacional
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-blue">
          <span *ngIf="liquidation?.data?.international_freight_cost">
            {{(liquidation?.data?.international_freight_cost | currency:' ':'symbol':'1.0')}} USD
          </span>
          <span *ngIf="!liquidation?.data?.international_freight_cost">
            N/A
          </span>
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(10)">
        <th class="row m-0 th-yellow">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Seguro internacional
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-yellow">
          <span *ngIf="liquidation?.data?.insurance_cost">
            {{(liquidation?.data?.insurance_cost | currency:' ':'symbol':'1.0')}} USD
          </span>
          <span *ngIf="!liquidation?.data?.insurance_cost">
            N/A
          </span>
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(11)">
        <th class="row m-0 th-blue">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Aduana y portuarios
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-blue">
          <span *ngIf="liquidation?.data?.port_charge">
            {{(liquidation?.data?.port_charge | currency:' ':'symbol':'1.0')}} USD
          </span>
          <span *ngIf="!liquidation?.data?.port_charge">
            N/A
          </span>
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(12)">
        <th class="row m-0 th-yellow">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Arancel
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-yellow">
          <span *ngIf="liquidation?.data?.gravamen_tarif">
            {{(liquidation?.data?.gravamen_tarif | currency:' ':'symbol':'1.0')}} USD
          </span>
          <span *ngIf="!liquidation?.data?.gravamen_tarif">
            N/A
          </span>
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(13)">
        <th class="row m-0 th-blue">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Flete local
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-blue">
          <span *ngIf="liquidation?.data?.national_freight_cost">
            {{(liquidation?.data?.national_freight_cost | currency:' ':'symbol':'1.0')}} USD
          </span>
          <span *ngIf="!liquidation?.data?.national_freight_cost">
            N/A
          </span>
        </td>
      </tr>
      <tr *ngIf= "selectedFilterButton(14)">
        <th class="row m-0 th-yellow">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            IVA
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" class="td-yellow">
          <span *ngIf="liquidation?.data?.iva_tarif">
            {{(liquidation?.data?.iva_tarif | currency:' ':'symbol':'1.0')}} USD
          </span>
          <span *ngIf="!liquidation?.data?.iva_tarif">
            N/A
          </span>
        </td>
      </tr>
      <tr>
        <th class="row m-0 th-total">
          <div class="col-3 p-0">
            <div class="icon"
                 [ngStyle]="{'mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/money-24.svg' + ') no-repeat center'}">
            </div>
          </div>
          <span class="col-9 p-0">
            Total:
          </span>
        </th>
        <td *ngFor="let liquidation of liquidations" [ngClass]="calculateTotalValue(liquidation)==min_total? 'th-head-yellow' : 'th-head-blue'" >
          <span>
            {{((calculateTotalValue(liquidation) | currency:' ':'symbol':'1.0') + '')?.replace(',', '.')}} USD
          </span>
        </td>
      </tr>
    </table>
  </div>
</div>
