<div class="" mat-dialog-title>
    <div class="row justify-content-between">
      <div class="col-10 col-sm-10 col-md-10">
        <strong class="color-blue">
          Crear Proveedor
        </strong>
      </div>
      <div class="col-2 col-sm-2 col-md-2">
        <button type="button" class="close btn-close-dialog" (click)="onNoClick()">
          <span aria-hidden="false">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <div *ngIf="preload" class="w-100 text-center">
      <mat-spinner diameter="40" class="m-auto"></mat-spinner>
    </div>
    <div *ngIf="!preload" class="row text-center">
      <div class="col-12" style="margin-bottom: 10px;">
        <mat-form-field class="w-100">
          <mat-label>Nombre</mat-label>
          <input matInput [formControl]="formControlName">
          <mat-hint align="end">{{formControlName.value?.length || 0}}/{{maxLengthName}}</mat-hint>
          <mat-error *ngIf="formControlName.invalid">{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12" style="margin-bottom: 10px;">
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input matInput [formControl]="formControlEmail">
          <mat-hint align="end">{{formControlEmail.value?.length || 0}}/{{maxLengthEmail}}</mat-hint>
          <mat-error *ngIf="formControlEmail.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12" style="margin-bottom: 10px;">
        <mat-form-field class="w-100">
          <mat-label>Dirección</mat-label>
          <input matInput [formControl]="formControlAddress">
          <mat-hint align="end">{{formControlAddress.value?.length || 0}}/{{maxLengthPhone}}</mat-hint>
          <mat-error *ngIf="formControlAddress.invalid">{{getErrorMessageAddress()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12" style="margin-bottom: 10px;">
        <mat-form-field class="w-100">
          <mat-label>Teléfono</mat-label>
          <input matInput [formControl]="formControlPhone">
          <mat-hint align="end">{{formControlPhone.value?.length || 0}}/{{maxLengthPhone}}</mat-hint>
          <mat-error *ngIf="formControlPhone.invalid">{{getErrorMessagePhone()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div *ngIf="!preload" class="text-center" mat-dialog-actions style="margin-top: 10px;">
    <button *ngIf="!preloadSave" mat-raised-button color="primary" class="w-100" (click)="saveOrEdit()">
      {{'buttons.save' | translate}}
    </button>
    <div *ngIf="preloadSave" class="w-100 text-center">
      <mat-spinner diameter="40" class="m-auto"></mat-spinner>
    </div>
  </div>
  