<div class="full-width mt-3">
    <div class="row margin-mobile-top-orgs my-2 text-center" style="margin-left: 0px !important; margin-right: 0px !important;">
      <h3 class="w-100">Lista de divisas</h3>
    </div>

    <div class="mat-elevation-z8 container" style="max-width: max-content">
      <div class="div-parent-table">
        <table mat-table [dataSource]="list" class="w-100">

          <!-- column id -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>
              Id
            </th>
            <td mat-cell *matCellDef="let row">
              <span >{{row.id}}</span>
            </td>
          </ng-container>

          <!-- name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
                <img src="./assets/icons/nota.svg" alt="">
                Nombre
              </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.name  ">{{row.name}} </span>
                <span *ngIf="!row.name ">N/A</span>
              </td>
          </ng-container>

          <!-- time Column -->
          <ng-container matColumnDef="acronym">
            <th mat-header-cell *matHeaderCellDef>
              <img src="./assets/icons/nota.svg" alt="">
                Acronimo
              </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.acronym">{{row.acronym}}</span>
                <span *ngIf="!row.acronym">N/A</span>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-spinner *ngIf="preload" class="m-auto">Cargando</mat-spinner>
      <!--          [ngStyle]="{'display':preload == false ? 'block' : 'none'}"-->
      <!-- <mat-paginator (page)="loadTable()" [pageSizeOptions]="pageSizeOptions" [length]="resultsLength"></mat-paginator> -->
    </div>
  </div>
