<div id="div-content-request-password" class="center-screen-element">
  <div class="div-content">
    <div class="div-container">
      <div class="text-center" style="padding-top: 2em; padding-bottom: 3.5em;">
        <img class="img-logo" src="./assets/logos/logo-white.png" width="160em" height="70em">
      </div>
      <h5 class="color-white text-center title">
        <!--        {{'auth.sign_in.title' | translate}}-->
        Recuperar contraseña
      </h5>
      <div class="pt-3 pb-1 mx-2">
        <mat-form-field class="w-100" appearance="outline">
          <input type="email" matInput placeholder="Ingrese e-mail" [formControl]="formControlEmail" required>
          <mat-error *ngIf="formControlEmail.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center" style="margin-top: 1.5em; margin-bottom: 2.5em;">
        <button *ngIf="!preload" mat-raised-button class="w-75 button-auth" (click)="recover()">
          <h5>Enviar Código</h5>
        </button>
        <div *ngIf="preload" class="w-100 text-center">
          <mat-spinner diameter="40" class="m-auto"></mat-spinner>
        </div>
      </div>
      <div class="text-center" style="margin-bottom: .7em">
        <a style="white-space: nowrap" routerLink="/" class="cursor-pointer a-navigate">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>
