@import '../auth.component';

.div-main {
  //background-image: url(/assets/auth/background.jpg);
}

.h5-title {
  margin-top: 1em;
  margin-bottom: 1.5em;
}


// tamaño de text field y screen block cuando la pantalla es pequeña para que no queden centrados los componenetes

@media (max-height: 440px) {
  .center-screen-element {
    display: block !important;
  }
}
