<div class="full-width mt-3">
    <div class="row margin-mobile-top-orgs my-2 text-center" style="margin-left: 0px !important; margin-right: 0px !important;">
      <h3 class="w-100">Lista de gastos portuarios</h3>
    </div>

    <div class="mat-elevation-z8 container" style="max-width: max-content">
      <div class="div-parent-table">
        <table mat-table [dataSource]="list" class="w-100">

          <!-- column id -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>
              Id
            </th>
            <td mat-cell *matCellDef="let row">
              <span >{{row.id}}</span>
            </td>
          </ng-container>

          <!-- Concept Column -->
          <ng-container matColumnDef="concept">
            <th mat-header-cell *matHeaderCellDef>
                <img src="./assets/icons/nota.svg" alt="">
                Concepto
              </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.concept">{{row.concept}} </span>
                <span *ngIf="!row.concept">N/A</span>
              </td>
          </ng-container>

          <!-- Puerto port -->
          <ng-container matColumnDef="port">
            <th mat-header-cell *matHeaderCellDef>
              <img src="./assets/icons/nota.svg" alt="">
                Puerto
              </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.port.name">{{row.port.name}}</span>
                <span *ngIf="!row.port.name">N/A</span>
              </td>
          </ng-container>
        
          <!-- container_type port -->
          <ng-container matColumnDef="container_type">
            <th mat-header-cell *matHeaderCellDef>
              <img src="./assets/icons/nota.svg" alt="">
                Tipo de container
              </th>
              <td mat-cell *matCellDef="let row">
                <span *ngIf="row.container_type.name">{{row.container_type.name}}</span>
                <span *ngIf="!row.container_type.name">N/A</span>
              </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-spinner *ngIf="preload" class="m-auto">Cargando</mat-spinner>
      <!--          [ngStyle]="{'display':preload == false ? 'block' : 'none'}"-->
      <mat-paginator (page)="loadTable()" [pageSizeOptions]="pageSizeOptions" [length]="resultsLength"></mat-paginator>
    </div>
  </div>
