<div class="row dialog-title m-0">
  <h5 class="col-10">
    Cambio de Correo
  </h5>
  <div class="col-2 text-right">
    <img class="img-close-dialog" src="./assets/icons/close_white.svg" alt="" (click)="matDialogRef.close()">
  </div>
</div>

<div class="div-content text-center mt-3">
  <mat-form-field class="w-75 m-auto" appearance="outline">
    <input matInput placeholder="Ingrese Nombre" [formControl]="formControlFirstName" required>
    <mat-error *ngIf="formControlFirstName.invalid">{{getErrorMessageFirstName()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-75 m-auto" appearance="outline">
    <input matInput placeholder="Ingrese Apellido" [formControl]="formControlLastName" required>
    <mat-error *ngIf="formControlLastName.invalid">{{getErrorMessageLastName()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-75 m-auto" appearance="outline">
    <input matInput placeholder="Ingrese Documento" [formControl]="formControlDocument" required>
    <mat-error *ngIf="formControlDocument.invalid">{{getErrorMessageDocument()}}</mat-error>
  </mat-form-field>
</div>

<div class="text-center">
  <button *ngIf="!preload" mat-raised-button class="btn-soft-blue" (click)="changeEmail()">
    <h5 class="m-0">
      Guardar
    </h5>
  </button>
  <div *ngIf="preload">
    <mat-spinner diameter="50" class="m-auto"></mat-spinner>
  </div>
</div>
