<div class="row dialog-title m-0">
  <h5 class="col-10">
    Cambio de Contraseña
  </h5>
  <div class="col-2 text-right">
    <img class="img-close-dialog" src="./assets/icons/close_white.svg" alt="" (click)="matDialogRef.close()">
  </div>
</div>

<div class="div-content text-center mt-3">
  <mat-form-field class="w-75 m-auto" appearance="outline">
    <input [type]="hidePass1 ? 'password' : 'text'" matInput placeholder="Ingrese su contraseña Actual" [formControl]="formControlCurrent" required>
    <button mat-icon-button matSuffix (click)="hidePass1 = !hidePass1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass1">
      <mat-icon class="color-aqua-blue">{{hidePass1 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="formControlCurrent.invalid">{{getErrorMessagePassword(formControlCurrent)}}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-75 m-auto" appearance="outline">
    <input [type]="hidePass2 ? 'password' : 'text'" matInput placeholder="Ingrese nueva contraseña" [formControl]="formControlNew" required>
    <button mat-icon-button matSuffix (click)="hidePass2 = !hidePass2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass2">
      <mat-icon class="color-aqua-blue">{{hidePass2 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="formControlNew.invalid">{{getErrorMessagePassword(formControlNew)}}</mat-error>
  </mat-form-field>

  <mat-form-field class="w-75 m-auto" appearance="outline">
    <input [type]="hidePass3 ? 'password' : 'text'" matInput placeholder="Confirme su nueva contraseña" [formControl]="formControlNewConfirm" required>
    <button mat-icon-button matSuffix (click)="hidePass3 = !hidePass3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass3">
      <mat-icon class="color-aqua-blue">{{hidePass3 ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="formControlNewConfirm.invalid">{{getErrorMessagePassword(formControlNewConfirm)}}</mat-error>
  </mat-form-field>

  <h6 class="text-center color-red" *ngIf="isNotSomePassword()">
    La nueva contraseña y la confirmación, deben ser iguales
  </h6>
</div>

<div class="text-center">
  <button *ngIf="!preload" mat-raised-button class="btn-soft-blue" (click)="changePassword()">
    <h5 class="m-0">
      Guardar
    </h5>
  </button>
  <div *ngIf="preload" class="mb-3">
    <mat-spinner diameter="50" class="m-auto"></mat-spinner>
  </div>
</div>
