<div id="div-content-change-password" class="center-screen-element">
  <div class="div-content">
    <div class="div-container">
      <div class="text-center" style="padding-top: 1.7em; padding-bottom: 1.3em;">
        <img class="img-logo" src="./assets/logos/logo-white.png" width="160em" height="70em">
      </div>
      <h5 class="color-white text-center title">
        <!--        {{'auth.sign_in.title' | translate}}-->
        Recuperar contraseña
      </h5>
      <div class="pt-3 pb-1 mx-2">
        <mat-form-field class="w-100" appearance="outline">
          <input type="email" matInput placeholder="ingrese el código de verificación" [formControl]="formControlCode" required>
          <mat-error *ngIf="formControlCode.invalid">{{getErrorMessageCode()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input type="password" matInput placeholder="Ingrese la nueva contraseña" [formControl]="formControlPassword" required>
          <mat-error *ngIf="formControlPassword.invalid">{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <input type="password" matInput placeholder="Confima la nueva contraseña" [formControl]="formControlConfirmPassword" required>
          <mat-error *ngIf="formControlConfirmPassword.invalid">{{getErrorMessageConfirmPassword()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center">
        <button *ngIf="!preload" mat-raised-button class="w-75 button-auth" (click)="changePassword()">
          <h5>Confimar cambios</h5>
        </button>
        <div *ngIf="preload" class="w-100 text-center">
          <mat-spinner diameter="40" class="m-auto"></mat-spinner>
        </div>
      </div>
      <div class="text-center" style="margin-top: 1em; margin-bottom: .7em">
        <a style="white-space: nowrap" routerLink="/" class="cursor-pointer a-navigate">Iniciar Sesión</a>
      </div>
    </div>
  </div>
</div>
