<div mat-dialog-title>
  <h6 class="color-blue-warehouse text-center">
    Terminos y Condiciones
  </h6>
</div>

<div mat-dialog-content class="text-justify">
  <p>
    Al momento de
  </p>
</div>

<div mat-dialog-actions class="d-flex justify-content-center">
  <button mat-raised-button class="btn-red color-white me-3" (click)="dialogRef.close()">
    Declinar
  </button>
  <button mat-raised-button class="btn-blue color-white ms-3" (click)="dialogRef.close('accept')">
    Aceptar
  </button>
</div>
