<div class="row dialog-title">
  <h5 class="col-10">
    RESUMEN DE LIQUIDACIÓN
  </h5>
  <div class="col-2 text-right">
    <img class="img-close-dialog" src="../../../../../assets/icons/close_white.svg" alt="" (click)="matDialogRef.close()">
  </div>
</div>

<div class="div-content">
  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Origen:
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Destino:
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Producto:
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/money.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/money.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Divisa:
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/worldwide-shipping.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/worldwide-shipping.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Contenedor:
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/clipboard.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/clipboard.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Valor FOB:
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/internet.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/internet.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      INCOTERM:
    </h5>
  </div>
</div>

<div class="text-center">
  <button mat-raised-button class="btn-liquidate">
    <h5 class="m-0">
      Liquidar
    </h5>
  </button>
</div>
