<div class="row dialog-title">
  <h5 class="col-10">
    RESUMEN DE LIQUIDACIÓN
  </h5>
  <div class="col-2 text-right">
    <img class="img-close-dialog" src="../../../../../assets/icons/close_white.svg" alt="" (click)="matDialogRef.close()">
  </div>
</div>

<div class="div-content">
  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Origen: {{data.cityOrigin?.name | titlecase}} ({{data.cityOrigin?.father_location?.name | titlecase}})
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Destino: {{data.cityDestination?.name | titlecase}} ({{data.cityDestination?.father_location?.name | titlecase}})
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Producto: {{data.product?.name}}
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/money.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/money.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Divisa: {{data.currency?.abbreviation}}
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/worldwide-shipping.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/worldwide-shipping.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Contenedor: {{data.container?.name}}
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/clipboard.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/clipboard.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      Valor FOB: $ {{data.fobValue | number | replaceText:',':'.' }}
    </h5>
  </div>

  <div class="row">
    <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/internet.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/internet.svg' + ') no-repeat center'}"></div>
    <h5 class="col-10">
      INCOTERM: {{data.incoterm?.name}}
    </h5>
  </div>
</div>

<div class="text-center">
  <button *ngIf="!preload" mat-raised-button class="btn-liquidate" (click)="liquidate()">
    <h5 class="m-0">
      Liquidar
    </h5>
  </button>
  <div *ngIf="preload">
    <mat-spinner diameter="50" class="m-auto"></mat-spinner>
  </div>
</div>
