<div class="example-container">
  <mat-toolbar>
    <!-- <img src="./assets/logo/logo.jpg" height="40px" style="margin-left: 10px;" alt=""> -->
    <button mat-icon-button (click)="snav.toggle()">
      <img src="./assets/icons-menu/lista.svg">
    </button>
    <img id="img-logo" (click)="goToDashboard()" src="./assets/logos/logo-white.png" width="80" height="30" style="margin-left: 1em !important;" alt="Logo">
    <h6 class="ml-3 color-white">

    </h6>
    <div class="w-100 text-right div-menu-right">
      <mat-menu #menuNotification="matMenu">
      </mat-menu>
<!--      <button mat-icon-button [matMenuTriggerFor]="menu">-->
<!--        <img src="./assets/icons-menu/notifications_fill_24dp.svg">-->
<!--      </button>-->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img src="./assets/icons-menu/settings_fill_24dp.svg">
      </button>
      <mat-menu #menu="matMenu">
<!--        <button [routerLink]="['/lobby/transactions']" class="button-menu-right" mat-menu-item>-->
<!--          <img src="./assets/icons-menu/point_of_sale_black_24dp.svg" class="mr-2">-->
<!--          <span>Mis Transacciones</span>-->
<!--        </button>-->
        <button [routerLink]="['my-plan']" class="button-menu-right" mat-menu-item>
          <img src="./assets/icons-menu/fact_check_black_24dp.svg" class="mr-2">
          <span>Mi Plan</span>
        </button>
        <button [routerLink]="['profile']" class="button-menu-right" mat-menu-item>
          <img src="./assets/icons-menu/account_circle_black_24dp.svg" class="mr-2">
          <span>Mi Perfil</span>
        </button>
        <button class="button-menu-right" mat-menu-item (click)="logOut()">
          <img src="./assets/icons-menu/power_settings_new-24px.svg" class="mr-2">
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container id="mat-sidenav-app" class="example-sidenav-container">
    <mat-sidenav #snav [mode]="isMobileScreen() ? 'over' : 'side'" [fixedInViewport]="isMobileScreen()" fixedTopGap="56">
      <mat-nav-list class="mt-4">
        <a [ngClass]="isSelectOption('/lobby') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="/" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/bar_chart-black-18dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/bar_chart-black-18dp.svg' + ') no-repeat center'}"></div>
          Mis Liquidaciones
        </a>
        <a [ngClass]="isSelectOption('/transactions') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="transactions" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/shopping_bag_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/shopping_bag_black_24dp.svg' + ') no-repeat center'}"></div>
          Mis Transacciones
        </a>
        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/locations') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="locations" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/location_on_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/location_on_black_24dp.svg' + ') no-repeat center'}"></div>
          Ubicaciones
        </a>
        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/ports') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="ports" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/houseboat_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/houseboat_black_24dp.svg' + ') no-repeat center'}"></div>
          Puertos
        </a>
        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/port_charges') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="port_charges" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/billete_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/billete_24dp.svg' + ') no-repeat center'}"></div>
          Gastos portuarios
        </a>
        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/products') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="products" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/caja_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/caja_24dp.svg' + ') no-repeat center'}"></div>
          Productos
        </a>
        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/providers') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="providers" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/manage_accounts_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/manage_accounts_black_24dp.svg' + ') no-repeat center'}"></div>
          Proveedores flete internacional
        </a>
        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/port-tarifs') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="port-tarifs" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/caja_entrega_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/caja_entrega_24dp.svg' + ') no-repeat center'}"></div>
          Flete Internacional
        </a>

        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/national-providers') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="national-providers" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/manage_accounts_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/manage_accounts_black_24dp.svg' + ') no-repeat center'}"></div>
          Proveedores flete nacional
        </a>

        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/port-tarifs-national') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="port-tarifs-national" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/caja_entrega_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/caja_entrega_24dp.svg' + ') no-repeat center'}"></div>
          Fletes Nacionales
        </a>

        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/users') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="users" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/account_circle_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/account_circle_black_24dp.svg' + ') no-repeat center'}"></div>
          Usuarios
        </a>
        <!-- --------------------------- -->
        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/chapters') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="chapters" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center'}"></div>
          Capítulos
        </a>

        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/packages') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="packages" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/package_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/package_24dp.svg' + ') no-repeat center'}"></div>
          Planes
        </a>

        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/coupons') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="coupons" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/cupon_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/cupon_24dp.svg' + ') no-repeat center'}"></div>
          Cupones
        </a>

        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/currencies') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="currencies" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/billete_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/billete_24dp.svg' + ') no-repeat center'}"></div>
          Divisas
        </a>

        <a *ngIf="isAdminUser" [ngClass]="isSelectOption('/containers') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="containers" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/calendar_view_week_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/calendar_view_week_black_24dp.svg' + ') no-repeat center'}"></div>
          Tipos de contenedor
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="overflow-x: hidden">

      <button (click)="util.openWhatsApp()" mat-raised-button class="mat-elevation-z0 float-button-contact">
        <img src="./assets/icons/whatsapp%20(1).svg" alt="">
      </button>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
