<div class="example-container">
  <mat-toolbar>
    <!-- <img src="./assets/logo/logo.jpg" height="40px" style="margin-left: 10px;" alt=""> -->
    <button mat-icon-button (click)="snav.toggle()">
      <img src="./assets/icons-menu/lista.svg">
    </button>
    <img id="img-logo" (click)="goToDashboard()" src="./assets/logos/logo-white.png" width="70" height="35" style="margin-left: 1em !important;" alt="Logo">
    <h6 class="ml-3 color-white">

    </h6>
    <div class="w-100 text-right div-menu-right">
      <mat-menu #menuNotification="matMenu">
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img src="./assets/icons-menu/notifications_fill_24dp.svg">
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img src="./assets/icons-menu/settings_fill_24dp.svg">
      </button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['my-transactions']" class="button-menu-right" mat-menu-item>
          <img src="./assets/icons-menu/point_of_sale_black_24dp.svg" class="mr-2">
          <span>Mis Transacciones</span>
        </button>
        <button [routerLink]="['my-plan']" class="button-menu-right" mat-menu-item>
          <img src="./assets/icons-menu/fact_check_black_24dp.svg" class="mr-2">
          <span>Mi Plan</span>
        </button>
        <button [routerLink]="['profile']" class="button-menu-right" mat-menu-item>
          <img src="./assets/icons-menu/account_circle_black_24dp.svg" class="mr-2">
          <span>Mi Perfil</span>
        </button>
        <button class="button-menu-right" mat-menu-item (click)="logOut()">
          <img src="./assets/icons-menu/power_settings_new-24px.svg" class="mr-2">
          <span>Cerrar sesión</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
  <mat-sidenav-container id="mat-sidenav-app" class="example-sidenav-container">
    <mat-sidenav #snav [mode]="isMobileScreen() ? 'over' : 'side'" [fixedInViewport]="isMobileScreen()" fixedTopGap="56">
      <mat-nav-list class="mt-4">
        <a [ngClass]="isSelectOption('/lobby') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="./" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/bar_chart-black-18dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/bar_chart-black-18dp.svg' + ') no-repeat center'}"></div>
          Mis Liquidaciones
        </a>
        <a [ngClass]="isSelectOption('/locations-countries') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="locations" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/location_on_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/location_on_black_24dp.svg' + ') no-repeat center'}"></div>
          Ubicaciones
        </a>
        <a [ngClass]="isSelectOption('/providers') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="providers" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/manage_accounts_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/manage_accounts_black_24dp.svg' + ') no-repeat center'}"></div>
          Proveedores
        </a>
        <a [ngClass]="isSelectOption('/requests') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="requests" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/houseboat_black_24dp.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/houseboat_black_24dp.svg' + ') no-repeat center'}"></div>
          Puertos
        </a>
        <a [ngClass]="isSelectOption('/requests') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="requests" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center'}"></div>
          Productos
        </a>
        <a [ngClass]="isSelectOption('/requests') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="requests" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center'}"></div>
          Capítulos
        </a>
        <a [ngClass]="isSelectOption('/requests') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="requests" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center'}"></div>
          Flete Internacional
        </a>
        <a [ngClass]="isSelectOption('/requests') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="requests" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center'}"></div>
          Costos Nacionales
        </a>

        <a [ngClass]="isSelectOption('/port-tarifs') ? 'a-option-menu-selected' : ''" mat-list-item routerLink="port-tarifs" (click)="snav.toggle()">
          <div class="icon" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/message-24px.svg' + ') no-repeat center'}"></div>
          Port tarifs
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="overflow-x: hidden">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
