<!--<div *ngIf="preload" class="w-100 text-center">-->
<!--  <img src="./assets//gifs//loading.gif" alt="">-->
<!--</div>-->

<div class="div-back-to-liquidation" (click)="goToLiquidations()">
  <img class="ms-3" src="./assets/icons/arrow_left_yellow_24dp.svg" alt="">
  <h6 class="color-blue py-3 mb-0">
    Volver a mis liquidaciones
  </h6>
</div>

<div class="container">
  <div class="div-info container pb-3">
    <div class="row">
      <h4 class="col-12 col-lg-7 mt-1 color-blue m-0 flex-box-vertical-center">
        Detalle de liquidación
      </h4>
      <div class="div-info-buttons col-12 col-lg-5 row justify-content-end m-0">
        <button mat-raised-button class="btn-very-soft-blue col-5 me-4" (click)="exportLiquidation()">
          <h6 class="m-0">
            <img src="./assets/icons/cheque.svg" alt="" width="25" class="mr-5">
            <span style="margin-left: 1em">
              Exportar
            </span>
          </h6>
        </button>
        <button mat-raised-button class="btn-very-soft-blue col-5" (click)="sendLiquidation()">
          <h6 class="m-0">
            <img src="./assets/icons/cheque.svg" alt="" width="25" class="mr-5">
            <span style="margin-left: 1em">
              Enviar
            </span>
          </h6>
        </button>
      </div>
    </div>

    <div *ngIf="preload">
      <mat-spinner class="m-auto" diameter="80"></mat-spinner>
    </div>

    <div id="div-info-container" *ngIf="!preload">
      <div class="row div-header-info">
        <div class="row col-lg-3 col-sm-6 col-12">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
          <span class="col-10">
            <h6>
              Origen: {{liquidation?.port_origin?.location?.name | titlecase}} ({{liquidation?.port_origin?.name | titlecase}})
            </h6>
          </span>
        </div>

        <div class="row col-lg-3 col-sm-6 col-12">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
          <span class="col-10">
            <h6>
              Destino: {{liquidation?.port_destination?.location?.name | titlecase}} ({{liquidation?.port_destination?.name | titlecase}})
            </h6>
          </span>
        </div>

        <div class="row col-lg-3 col-sm-6 col-12">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/icons-menu/caja_24dp_white.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons-menu/caja_24dp_white.svg' + ') no-repeat center'}"></div>
          <h6 class="col-10">
            Producto: {{liquidation?.product?.name | titlecase}}
          </h6>
        </div>

        <div class="row col-lg-3 col-sm-6 col-12">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/clipboard.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/clipboard.svg' + ') no-repeat center'}"></div>
          <span class="col-10">
            <h6 class="number-field-text">
              Partida arancelaria: {{liquidation?.product?.code}}
            </h6>
          </span>
        </div>

        <div class="row col-lg-3 col-sm-6 col-12">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/icons/calendar.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/icons/calendar.svg' + ') no-repeat center'}"></div>
          <h6 class="col-10 number-field-text">
            Fecha: {{liquidation?.create_at | date}}
          </h6>
        </div>

        <div class="row col-lg-3 col-sm-6 col-12">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/worldwide-shipping.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/worldwide-shipping.svg' + ') no-repeat center'}"></div>
          <h6 class="col-10">
            Contenedor: {{liquidation?.container_type?.name }}
          </h6>
        </div>

        <div class="row col-lg-3 col-sm-6 col-12">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/money.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/money.svg' + ') no-repeat center'}"></div>
          <h6 class="col-10">
            Divisa: {{liquidation?.currency?.acronym | uppercase}}
          </h6>
        </div>

        <div class="row col-lg-3 col-sm-6 col-12">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/internet.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/internet.svg' + ') no-repeat center'}"></div>
          <h6 class="col-10">
            Incoterm: {{liquidation?.incoterm}}
          </h6>
        </div>

        <div class="row col-lg-3 col-sm-6 col-12" *ngIf="liquidation?.incoterm=='DDP'">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
          <span class="col-10">
            <h6>
              Ciudad destino: {{liquidation?.city_destination?.name | titlecase }}
            </h6>
          </span>
        </div>

        <div class="row col-lg-3 col-sm-6 col-12">
          <div class="col-2" [ngStyle]="{'mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center', '-webkit-mask': 'url(' + './assets/import/menu/location.svg' + ') no-repeat center'}"></div>
          <span class="col-10">
            <h6>
              Total lead time: {{liquidation?.data?.total_days}} días
            </h6>
          </span>
        </div>

      </div>

      <h6 class="color-blue py-3 mb-0">

        <div class="number-field-text">
          TRM: Semana para levantes del {{liquidation?.currency_usd?.from_date}} al {{liquidation?.currency_usd?.to_date}}. {{liquidation?.currency_usd?.value | currency:' ':'symbol':'1.0'}} COP, Fuente DIAN
        </div>

        <div class="color-blue py-3 mb-0">
          Por favor selecciona los costos que deseas visualizar.
        </div>
      </h6>

      <div style="background-color:#ffbf3b; width: 140px; color: aliceblue; text-align: center;">Seleccionada</div>
      <div style="background-color:#00303c; width: 140px; color: aliceblue; text-align: center;">No seleccionada</div>
      <br>

      <div class="row div-menu-options mb-2">
        <div (click)="clickFilterButtons(0)" class="col-lg-2 col-sm-4 col-6">
          <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(0)}">
            Valor FOB
          </div>
        </div>
        <div (click)="clickFilterButtons(1)" class="col-lg-2 col-sm-4 col-6">
          <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(1)}">
            Flete internacional
          </div>
        </div>
        <div (click)="clickFilterButtons(2)" class="col-lg-2 col-sm-4 col-6" *ngIf="!isIncotermCFR() || isIncotermCIF()">
          <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(2)}">
            Seguro internacional
          </div>
        </div>
        <div (click)="clickFilterButtons(3)" class="col-lg-2 col-sm-4 col-6" *ngIf="isIncotermDDP()">
          <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(3)}">
            Aduana y portuarios
          </div>
        </div>
        <div (click)="clickFilterButtons(4)" class="col-lg-2 col-sm-4 col-6" *ngIf="isIncotermDDP()">
          <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(4)}">
            Arancel
          </div>
        </div>
        <div (click)="clickFilterButtons(5)" class="col-lg-2 col-sm-4 col-6" *ngIf="isIncotermDDP()">
          <div class="div-option" [ngClass]="{'div-option-to-hide': !selectedFilterButton(5)}">
            Flete local
          </div>
        </div>
      </div>

      <mat-accordion class="mat-accordion-yellow">
        <mat-expansion-panel #matExpansionPanel1 *ngIf="selectedFilterButton(0)">
          <mat-expansion-panel-header>

            <div class="col-2 div-table-price me-3">
              <h4>
                {{(liquidation?.fob_cost | currency:' ':'symbol':'1.2')}} USD
              </h4>
            </div>

            <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionPanel1.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_yellow_24dp.svg" alt="">

            <mat-panel-title>
              Valor FOB
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="row">
            <div class="div-parent-table">
              <table>
                <thead>
                  <th>Divisa</th>
                  <th>Valor Fob ingresado por el usuario ({{liquidation?.currency?.acronym}})</th>
                </thead>
                <tbody>
                  <tr >
                    <td>
                      <span>{{liquidation?.currency?.acronym | uppercase}}</span>
                    </td>
                    <td>
                      <span>{{liquidation?.fob_cost_user | currency:' ':'symbol':'1.2'}} </span>USD.
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="div-parent-table">
              <table>
                <tbody>
                  <tr >
                    <td>
                      El valor EUR entre <span>{{liquidation?.currency?.from_date}} y {{liquidation?.currency?.to_date}}: {{liquidation?.currency?.value | currency:' ':'symbol':'1.2'}}</span> USD
                    </td>
                  </tr>

                  <tr *ngIf="liquidation?.currency?.acronym=='GBP'">
                    <td>
                      El valor de la libra esterlina entre {{liquidation?.currency?.from_date}} y {{liquidation?.currency?.to_date}}: <span>{{liquidation?.currency?.value | currency:' ':'symbol':'1.2'}}</span> USD
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel #matExpansionPanel2 *ngIf="selectedFilterButton(1)">
          <mat-expansion-panel-header>

            <div class="col-2 div-table-price me-3">
              <h4>
                {{(liquidation?.data?.international_freight_cost | currency:' ':'symbol':'1.2')}} USD
              </h4>
            </div>

            <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionPanel2.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_yellow_24dp.svg" alt="">

            <mat-panel-title>
              Flete internacional
            </mat-panel-title>
          </mat-expansion-panel-header>


          <div class="row">
            <table>
              <tr>
                <td>
                  El producto viaja del puerto {{liquidation?.port_origin?.name | titlecase}} ({{liquidation?.port_origin?.location?.name | titlecase}}) al puerto {{liquidation?.port_destination?.name | titlecase}} ({{liquidation?.port_destination?.location?.name | titlecase}})
                y tiene un costo de <span >{{(liquidation?.data?.international_freight_cost | currency:' ':'symbol':'1.2')}} </span> USD
                  
                <br>
                Dias Libres: {{liquidation?.data?.free_days}} dias    
                </td>
              </tr>
              
            </table>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel #matExpansionPanel3 *ngIf="(isIncotermCIF() || isIncotermDDP()) && selectedFilterButton(2)">
          <mat-expansion-panel-header>

            <div class="col-2 div-table-price me-3">
              <h4>
                {{(liquidation?.data?.insurance_cost | currency:' ':'symbol':'1.2')}} USD
              </h4>
            </div>

            <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionPanel3.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_yellow_24dp.svg" alt="">

            <mat-panel-title>
              Seguro internacional
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row">
            <table>
              <tr>
                <td>
                  (Valor FOB + Flete Internacional) x <span>0.4%</span> = Valor seguro internacional
                  <br>
                  <span>({{(+liquidation.fob_cost).toFixed(2)}} + {{liquidation?.data?.international_freight_cost}}) x 0.4% = {{(liquidation?.data?.insurance_cost | currency:' ':'symbol':'1.2')}} USD</span>    
                </td>
              </tr>
            </table>
          </div>

          <!-- <div class="row">
            <h5 class="col-8 ps-5">
              (Valor FOB + Flete Internacional) x 0.4% = Valor seguro internacional
            </h5>
          </div>

          <div class="row">
            <h5 class="col-8 ps-5">
              ({{(+liquidation.fob_cost).toFixed(2)}} + {{liquidation?.data?.international_freight_cost}}) x 0.4% = {{(liquidation?.data?.insurance_cost | currency:' ':'symbol':'1.2')}} USD
            </h5>
          </div> -->
          <div class="row" style="padding: 5px;" >
            <h3>Nota: El valor minimo del seguro internacional es igual a 50 USD</h3>

          </div>
        </mat-expansion-panel>

        <mat-expansion-panel #matExpansionPanel4 *ngIf="isIncotermDDP() && selectedFilterButton(3)">
          <mat-expansion-panel-header>

            <div class="col-2 div-table-price me-3">
              <h4>
                {{(liquidation?.data?.port_charge | currency:' ':'symbol':'1.0')}} USD
              </h4>
            </div>

            <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionPanel4.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_yellow_24dp.svg" alt="">

            <mat-panel-title>
              Aduana y portuarios
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row" style="padding-right: 20px; padding-left: 20px;">

            <mat-expansion-panel #matExpansionPanel4_1 id="matExpansionPanel4_1">
              <mat-expansion-panel-header>
                <div class="col-2 div-table-price me-3">
                  <h4>
                    {{( valuePortCharge | currency:' ':'symbol':'1.2')}} USD
                  </h4>
                </div>
                <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionPanel4_1.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_white_24dp.svg" alt="">
                <mat-panel-title id="sub_mat-panel-title">
                  Gastos portuarios
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="div-parent-table">
                <table>
                  <thead>
                    <th>Concepto</th>
                    <th>Valor</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listPortCharge">
                      <td>
                        {{item.concept}}
                      </td>
                      <td>
                        <span>{{ ( item.value / liquidation?.currency_usd.value  | currency:' ':'symbol':'1.2')}} </span> USD.
                      </td>
                    </tr>
                    <tr *ngIf="!listPortCharge || listPortCharge?.length === 0">
                      <td>
                        No hay datos.
                      </td>
                      <td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel #matExpansionPanel4_2 id="matExpansionPanel4_2">
              <mat-expansion-panel-header>
                <div class="col-2 div-table-price me-3">
                  <h4>
                    {{( valueStorageChargeByDay | currency:' ':'symbol':'1.2')}} USD
                  </h4>
                </div>
                <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionPanel4_2.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_white_24dp.svg" alt="">
                <mat-panel-title id="sub_mat-panel-title">
                  Almacenaje de contenedor por día
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="div-parent-table">
                <table>
                  <thead>
                    <th>Concepto</th>
                    <th>Valor</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listStorageChargeByDay">
                      <td>
                        {{item.concept}}
                      </td>
                      <td>
                        <span>{{ ( item.value / liquidation?.currency_usd.value  | currency:' ':'symbol':'1.2')}} </span> USD.
                      </td>
                    </tr>
                    <tr *ngIf="!listStorageChargeByDay || listStorageChargeByDay?.length === 0">
                      <td>
                        No hay datos.
                      </td>
                      <td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
            </mat-expansion-panel>
            <mat-expansion-panel #matExpansionPanel4_3 id="matExpansionPanel4_3">
              <mat-expansion-panel-header>
                <div class="col-2 div-table-price me-3">
                  <h4>
                    {{( valueNationalCost | currency:' ':'symbol':'1.2')}} USD
                  </h4>
                </div>
                <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionPanel4_3.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_white_24dp.svg" alt="">
                <mat-panel-title id="sub_mat-panel-title">
                  Costos de nacionalización
                </mat-panel-title>

              </mat-expansion-panel-header>
              <div class="div-parent-table">
                <table>
                  <thead>
                    <th>Concepto</th>
                    <th>Valor</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listNationalCost">
                      <td>
                        {{item.concept}}
                      </td>
                      <td>
                        <span>{{ ( item.value / liquidation?.currency_usd.value  | currency:' ':'symbol':'1.2')}} </span> USD.
                      </td>
                    </tr>
                    <tr *ngIf="!listNationalCost || listNationalCost?.length === 0">
                      <td>
                        No hay datos.
                      </td>
                      <td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </mat-expansion-panel>
            
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel #matExpansionPanel5 *ngIf="isIncotermDDP() && selectedFilterButton(4)">
          <mat-expansion-panel-header>

            <div class="col-2 div-table-price me-3">
              <h4>
                {{(liquidation?.data?.gravamen_tarif | currency:' ':'symbol':'1.2')}} USD
              </h4>
            </div>

            <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionPanel5.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_yellow_24dp.svg" alt="">

            <mat-panel-title>
              Arancel
            </mat-panel-title>
            
          </mat-expansion-panel-header>


          <div class="row">
            <h5 class="col-8 ps-5">
              Tratados:
            </h5>

            <div class="div-parent-table">
              <table>
                <thead>
                  <th>País</th>
                  <th>Título</th>
                  <th>Fecha</th>
                  <th>Gravamen</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listInternationalAgreement">
                    <td>
                      {{item.location}}
                    </td>
                    <td>
                      {{item.title}}
                    </td>
                    <td>
                      <span>{{item.date}}</span>
                    </td>
                    <td>
                      <span>{{( item.gravamen | currency:' ':'symbol':'1.2')}} </span>.
                    </td>
                  </tr>
                  <tr *ngIf="!listInternationalAgreement || listInternationalAgreement?.length === 0">
                    <td>
                      No hay datos.
                    </td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>
          <div class="row">
            <h5 class="col-8 ps-5">
              Gravamen:
            </h5>
            <div class="div-parent-table">
              <table>
                <thead>
                  <th>Fecha</th>
                  <th>Tarifa</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listGravament">
                    <td>
                      <span>{{item.date | date}}</span>
                    </td>
                    <td>
                      <span>{{( item.tarif | currency:' ':'symbol':'1.2')}} </span>.
                    </td>
                  </tr>
                  <tr *ngIf="!listGravament || listGravament?.length === 0">
                    <td>
                      No hay datos.
                    </td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
          <div class="row" style="margin-top: 10px;">
            <h3>Importante: Favor tener presente que el puerto de origen seleccionado se tomará como país de origen de la mercancía para efectos de calculo de arancel y acuerdos internacionales</h3>

          </div>

        </mat-expansion-panel>

        <mat-expansion-panel #matExpansionPanel6 *ngIf="isIncotermDDP() && selectedFilterButton(5)">
          <mat-expansion-panel-header>

            <div class="col-2 div-table-price me-3">
              <h4>
                {{(liquidation?.data?.national_freight_cost | currency:' ':'symbol':'1.2')}} USD
              </h4>
            </div>

            <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionPanel6.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_yellow_24dp.svg" alt="">

            <mat-panel-title>
              Flete local
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="div-parent-table">
              <table>
                <tr>
                  <td>
                    El producto viaja del puerto destino {{liquidation?.port_destination?.name | titlecase}} en {{liquidation?.port_destination?.location?.name | titlecase}} a la ciudad {{liquidation?.city_destination?.name | titlecase}}
                  y tiene un costo de <span>{{(liquidation?.data?.national_freight_cost | currency:' ':'symbol':'1.2')}}</span> USD
                    <div *ngIf='liquidation?.data?.return_cost==true' >
                      Incluye costo de retorno: Sí
                    </div>
                    <div *ngIf='liquidation?.data?.return_cost==false' >
                      Incluye costo de retorno: No
                    </div>
                  </td>
    
                </tr>
              </table>

            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>

      <div class="div-total row">
        <h4 class="col-6">
          Total {{getCalculateIcoterm()}}:
        </h4>
        <h4 class="col-6 text-right">
          {{((calculateTotalValue() | currency:' ':'symbol':'1.2') + '')}} USD
        </h4>
      </div>

      <div class="row m-0 div-bottom-info">
        <h6 class="color-blue py-3 mb-0 col-10">
          Valor liquidado solo para efectos de flujo de caja, NO incluido en el costo total de la liquidación, por ser el IVA un valor deducible.
        </h6>

        <mat-checkbox [(ngModel)]="seeIVA" (click)="showIVA()" class="col-2">
          Visualizar IVA
        </mat-checkbox>
      </div>

      <mat-accordion *ngIf="seeIVA" class="mat-accordion-blue">
        <mat-expansion-panel #matExpansionFiles>
          <mat-expansion-panel-header>

            <div class="col-2 div-table-price me-3">
              <h4 *ngIf="liquidation?.data?.iva_tarif">
                {{liquidation?.data?.iva_tarif | currency : ' ' : 'symbol' : '1.2' }} USD
              </h4>
              <h4 *ngIf="!liquidation?.data?.iva_tarif">
                0
              </h4>
            </div>

            <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionFiles.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_blue_24dp.svg" alt="">

            <mat-panel-title>
              IVA
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row">
            <h5 class="col-8 ps-5">
              Porcentaje = {{liquidation?.data?.iva_percentage ? liquidation?.data?.iva_percentage : 0}}%
            </h5>
            <!-- <br>
            <h5 class="col-9 ps-5">
              Total iva = (FOB + valor flete internacional + seguro flete internacional + aranceles ) * porcentaje iva
            </h5> -->

          </div>

        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="mat-accordion-blue">
        <mat-expansion-panel #matExpansionFiles>
          <mat-expansion-panel-header>

            <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionFiles.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_blue_24dp.svg" alt="">

            <mat-panel-title>
              Documentos Soporte
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="row">
            <div class="div-parent-table">
              <table>
                <thead>
                  <th>Documento</th>
                  <th>Entidad</th>
                </thead>
                <tbody>
                  <tr *ngFor="let document of listSupportDocuments">
                    <td>
                      <span>{{document?.document}}</span>
                    </td>
                    <td>
                      <span>{{document?.entity}} </span>
                    </td>
                  </tr>
                  <tr *ngIf="!listGravament || listGravament?.length === 0">
                    <td>
                      No hay datos.
                    </td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>


          <!-- <div class="row my-2">
            <h5 class="col-7 text-center">
              Documento
            </h5>
            <h5 class="col-4 text-center">
              Entidad
            </h5>
          </div>

          <ul *ngFor="let document of listSupportDocuments">
            <li>
              <div class="row">
                <h5 class="col-7">
                  {{document?.document}}
                </h5>
                <h5 class="col-4">
                  {{document?.entity}}
                </h5>
              </div>
            </li>
          </ul> -->

        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="mat-accordion-blue">
        <mat-expansion-panel #matExpansionFiles>
          <mat-expansion-panel-header>

            <img [ngStyle]="{'transform': 'scale(2) rotate(' + (matExpansionFiles.expanded ? 180 : 0) + 'deg)'}" src="./assets/icons/arrow_drop_down_blue_24dp.svg" alt="">

            <mat-panel-title>
              Regimenes de comercio
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="row">
            <h5 class="col-8 ps-5">
              Regimenes
            </h5>

            <div class="div-parent-table">
              <table>
                <thead>
                  <th>Concepto</th>
                </thead>
                <tbody>
                  <tr *ngFor="let tradeRegimen of listTradeRegimes">
                    <td>
                      {{tradeRegimen?.concept}}
                    </td>
                  </tr>
                  <tr *ngIf="!listTradeRegimes || listTradeRegimes?.length === 0">
                    <td>
                      No hay datos.
                    </td>
                    <td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
