/* You can add global styles to this file, and also import other style files */

@import "~ng-snotify/styles/material";

@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // your theme

$color-soft-blue: #007b8a;
$color-very-soft-blue: #6ba2b9;
$color-dark-blue: #00303c;
$color-yellow: #ffbf3b;
$color-soft-red: #ff5959;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-screen-element {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
}

.center-screen-element_80 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 80vh;
}

.color-white {
  color: white !important;
}

.text-right {
  text-align: right !important;
}

@font-face {
  font-family: 'Raleway_Regular';
  src: url(../src/assets/fonts/Raleway-Regular.ttf);
}

*:not(mat-icon) {
  font-family: Raleway_Regular;
}

.color-blue {
  color: $color-soft-blue;
}

.bc-white {
  background-color: white;
}

.cursor-pointer {
  cursor: pointer !important;
}

.col-25 {
  flex: 0 0 auto;
  width: 20%;
}

.col-35 {
  flex: 0 0 auto;
  width: 31%;
}

.flex-box-middle {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-box-vertical-center {
  display: flex !important;
  align-items: center !important;
}

.backdrop-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

::ng-deep .div-without-padding mat-dialog-container {
  padding: 0 !important;
}

.img-close-dialog {
  width: 20px;
  cursor: pointer;
}

.dialog-title {
  background-color: $color-dark-blue;
  padding: 15px;
  margin: 0;

  h5 {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    color: white;
  }
}

.btn-blue {
  background-color: $color-very-soft-blue;
  color: white !important;
  height: 3em !important;
  border-radius: 0 !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.8em !important;
}

.btn-yellow {
  background-color: $color-yellow;
  color: white !important;
  height: 3em !important;
  border-radius: 0 !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.8em !important;
}
