/* You can add global styles to this file, and also import other style files */

@import "~ng-snotify/styles/material";

@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // your theme

$color-soft-blue: #007b8a;
$color-very-soft-blue: #6ba2b9;
$color-dark-blue: #00303c;
$color-yellow: #ffbf3b;
$color-soft-red: #ff5959;
$color-gray: #f2f1f1;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-screen-element {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
}

.center-screen-element_80 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 80vh;
}

.color-white {
  color: white !important;
}

.text-right {
  text-align: right !important;
}

@font-face {
  font-family: 'Arial';
  src: url(../src/assets/fonts/Raleway-Regular.ttf);
}

*:not(mat-icon) {
  font-family: Raleway_Regular;
}

.color-blue {
  color: $color-soft-blue;
}

.color-dark-blue {
  color: $color-dark-blue;
}

.bc-white {
  background-color: white;
}

.bc-very-soft-blue {
  background-color: $color-very-soft-blue;
}

.cursor-pointer {
  cursor: pointer !important;
}

.col-25 {
  flex: 0 0 auto;
  width: 20%;
}

@media (min-width: 768px) {
  .col-md-25 {
    flex: 0 0 auto;
    width: 20%;
  }
}

.col-35 {
  flex: 0 0 auto;
  width: 31%;
}

@media (min-width: 992px) {
  .col-lg-35 {
    flex: 0 0 auto;
    width: 31%;
  }
}

@media (min-width: 415px) {
  .ms-sm-2-415px {
    margin-left: 0.5em;
  }

  .me-sm-2-415px {
    margin-right: 0.5em;
  }
}

.flex-box-middle {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.flex-box-vertical-center {
  display: flex !important;
  align-items: center !important;
}

.flex-box-vertical-center {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.backdrop-dark {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

::ng-deep .div-without-padding mat-dialog-container {
  padding: 0 !important;
}

.img-close-dialog {
  width: 20px;
  cursor: pointer;
}

.dialog-title {
  background-color: $color-dark-blue;
  padding: 15px;
  margin: 0;

  h5 {
    margin-bottom: 0 !important;
    display: flex;
    align-items: center;
    color: white;
  }
}

.btn-very-soft-blue {
  background-color: $color-very-soft-blue;
  color: white !important;
  height: 3em !important;
  border-radius: 0 !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.8em !important;
}

.btn-soft-blue {
  background-color: $color-soft-blue;
  color: white !important;
  height: 3em !important;
  border-radius: 0 !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.8em !important;
}

.btn-soft-blue-m-0 {
  background-color: $color-soft-blue;
  color: white !important;
  height: 3em !important;
  border-radius: 0 !important;
}

.btn-blue {
  background-color: $color-dark-blue;
  color: white !important;
  height: 3em !important;
  border-radius: 0 !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.8em !important;
}

.btn-red {
  background-color: $color-soft-red;
  color: white !important;
  height: 3em !important;
  border-radius: 0 !important;
  margin-top: 1.5em !important;
  margin-bottom: 0.8em !important;
}

.btn-yellow {
  background-color: $color-yellow;
  color: white !important;
  height: 3em !important;
  border-radius: 0 !important;
  margin-top: 1.5em !important;
  margin-bottom: 1em !important;
}

.btn-yellow-m-0 {
  background-color: $color-yellow;
  color: white !important;
  height: 3em !important;
  border-radius: 0 !important;
}

.color-yellow {
  color: $color-yellow !important;
}

.color-red {
  color: red !important;
}

.btn-close-dialog {
  background-color: red;
  color: white;
  width: 2em;
  padding: 0;
}

button h4 {
  margin: 0 !important;
}

.opacity-disabled {
  opacity: 0.5 !important;
}

.agm-map-height-small {
  height: 200px;
}

.full-width {
  width: 100% !important;
}

.center-horizontal-vertical {
  display: flex !important;
  justify-content: center !important;
}

.color-green {
  color: green !important;
}

.color-grey {
  color: gray !important;
}

.font-size-10px {
  font-size: 10px !important;
}

.color-black {
  color: black !important;
}

.mat-form-field-filter-table {
  width: 320px !important;
}

.flex-box-left {
  display: flex !important;
  align-items: center !important;
}

.font-price {
  font-family: Arial;
  font-size: medium;
}
