/* You can add global styles to this file, and also import other style files */

@import "~ng-snotify/styles/material";

@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // your theme

$color-soft-blue: #007b8a;
$color-very-soft-blue: #6ba2b9;
$color-dark-blue: #00303c;
$color-yellow: #ffbf3b;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-screen-element {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
}

.center-screen-element_80 {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 80vh;
}

.color-white {
  color: white !important;
}

.text-right {
  text-align: right !important;
}

@font-face {
  font-family: 'Raleway_Regular';
  src: url(../src/assets/fonts/Raleway-Regular.ttf);
}

*:not(mat-icon) {
  font-family: Raleway_Regular;
}

.color-blue {
  color: $color-soft-blue;
}

.bc-white {
  background-color: white;
}

.cursor-pointer {
  cursor: pointer !important;
}

.col-25 {
  flex: 0 0 auto;
  width: 20%;
}

.col-35 {
  flex: 0 0 auto;
  width: 31%;
}
