<div class="div-main-costs">
  <p id="title" class="color-white text-center">
    Escoge el plan ideal para tu negocio
  </p>
  <p id="sub-title" class="text-center">
    Somos la mejor solución para tu empresa, escoge el plan y comienza a liquidar ya!
  </p>

  <div *ngIf="preload" class="w-100 mt-5">
    <mat-spinner diameter="100" class="m-auto"></mat-spinner>
  </div>

  <div *ngIf="errorGetPlans" class="w-100 mt-5 text-center">
    <h5 class="color-dark-blue">
      Error consultando los planes, por favor intente cargarlos nuevamente.
    </h5>
    <button mat-raised-button class="btn-yellow" (click)="getAllPlans()">
      Recargar
    </button>
  </div>

  <div class="row justify-content-center">
    <div class="bc-white col-xl-3 col-md-4 mx-4 mb-3" *ngFor="let plan of listPlans; let i = index" style="margin-bottom: 30px !important;">
      <h3 class="pt-5 text-center color-dark-blue" style="font-size: 22px">
        {{plan.name}}
      </h3>

      <div class="text-center">
        <img src="{{plan.image}}" style=" width: 80%; height: 80%; margin-bottom: 20px;" *ngIf="plan.image">
        <img src="./assets/img/blanco.png" style=" width: 80%; height: 80%; margin-bottom: 20px;" *ngIf="!plan.image">
      </div>
      <div class="mx-3 div-plan-info">
        <h6 class="pb-3 color-dark-blue m-0">
          <img src="./assets/icons/check_green_24dp.svg" alt="">
          {{plan.time}} {{plan.time === 1 ? 'dia' : 'dias'}} de vigencia
        </h6>
        <h6 class="pb-3 color-dark-blue m-0">
          <img src="./assets/icons/check_green_24dp.svg" alt="">
          {{plan.liquidation_quantity}} liquidaciones
        </h6>
      </div>
      <h3 class="text-center color-dark-blue" style="font-size: 22px">
        {{(plan.cost | currency:'$ ':'symbol':'1.0')?.replaceAll(',', '.')}}
      </h3>
      <div class="text-center" style="margin-bottom: -35px;">
        <button mat-raised-button class="btn-soft-blue w-75 button-buy" (click)="showBuyDialog(plan)">
          <h3 class="mb-0">
            Comprar
          </h3>
        </button>
      </div>
    </div>
  </div>
</div>
